<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Articles</title>
</head>
<body>
<base href="/">
<app-root></app-root>
<script src="../../runtime.eb2a6520f94eb5c9.js" type="module"></script>
<script src="../../polyfills.e4b73a5d8a11cab2.js" type="module"></script>
<script src="../../main.7de21c77bbdc6702.js" type="module"></script>

<h1>All Articles</h1>

<div>
    <input type="checkbox" (click)="sortArticlesByDate()"> Sort by date
</div>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Author</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articles}">
        <td th:text="${article.title}"></td>
        <td th:text="${article.subtitle}"></td>
        <td th:text="${article.author}"></td>
        <td th:text="${article.date}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>