<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/">
    <script src="../../runtime-es2015.js" type="module"></script>
    <script src="../../polyfills-es2015.js" type="module"></script>
    <script src="../../main-es2015.js" type="module"></script>

    <title>All Articles</title>
</head>
<body>
<h1>All Articles</h1>
<app-root></app-root>

<div>
    <input type="checkbox" (click)="sortArticlesByDate()"> Sort by date
</div>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Author</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articles}">
        <td th:text="${article.title}"></td>
        <td th:text="${article.subtitle}"></td>
        <td th:text="${article.author}"></td>
        <td th:text="${article.date}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>