<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>SpletnaArticleApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.ef46db3751d8e999.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.eb2a6520f94eb5c9.js" type="module"></script><script src="polyfills.e4b73a5d8a11cab2.js" type="module"></script><script src="main.7de21c77bbdc6702.js" type="module"></script>

</body></html>